*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

main{
    background-color: rgb(34, 34, 67);
}

.navbar{
    background-color: #1e7ea1;
}

.generos{
    display: grid;
    background-color: black;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 60px);
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
}

.item{
    border: 2px solid #1e7ea1;
    background-size: cover;
    background-position: center;
}

.item1{
    background-image: url(img/pexels-coco-championship-598686.jpg);
}

.item2{
    background-image: url(img/pexels-johannes-plenio-1423600.jpg);
}

.item3{
    background-image: url(img/pexels-marek-piwnicki-16300875.jpg);
}

.item4{
    background-image: url(img/pexels-mark-stebnicki-2889440.jpg);
}

.item5{
    background-image: url(img/pexels-mike-bird-349455.jpg);
}

.item6{
    background-image: url(img//pexels-pixabay-39619.jpg);
}

.item7{
    background-image: url(img/pexels-specna-arms-886454.jpg);
}

.item8{
    background-image: url(img/plataformas.jpeg);
}

.titulo{
    height: 70px;
    background-color: #1e7ea1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulo h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 0 0 5px black;
}

.sec{
    display: flex;
    width: 100%;
}

.lanzamientos{
    background-color: #1e7ea1;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 300px);
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 2px black;;
}

.new img{
    border: 5px solid black;
}

section div button{
    opacity: 50%;
}

.games{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 400px);
    grid-gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.juegos h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-shadow: 0 0 5px black;
    text-align: center;
}

.juegos{
    width: 90%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: auto;
    border: 5px solid black;
}

.game1{
    background-image: url(img/baldurs\ gate\ 3.avif);
}
.game2{
    background-image: url(img/call\ of\ duty.jpeg);
}
.game3{
    background-image: url(img/diablo\ 4.avif);
}
.game4{
    background-image: url(img/gta\ 6.jpg);
}
.game5{
    background-image: url(img/issac.jpeg);
}
.game6{
    background-image: url(img/minecraft.jpg);
}
.game7{
    background-image: url(img/mk1.jpeg);
}
.game8{
    background-image: url(img/re4.jpg);
    background-position: right;
}
.game9{
    background-image: url(img/red\ dead.jpg);
}

.foo{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    color: white;
    height: 100px;
}

@media only screen and (min-width:480px){
    .generos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 80px);
    }

    .lanzamientos{
        grid-template-rows: repeat(3, 400px);
    }

    .games{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 300px);
        margin: 20px;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .generos{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 80px);
    }
    .item7{
        grid-column: 1/2 ;
        grid-row: 1/4;
    }
    .item8{
        grid-column: 4/5;
        grid-row: 1/4;
    }

    .lanzamientos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 300px);
        margin-top: 10px;
        padding: 10px;
    }

    .games{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(3, 300px);
            margin: 20px;
    }
}

@media only screen and (min-width:1024px){
    .generos{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 80px);
    }
    .item{
        filter: none;
        transition: 0.4s;
    }
    .item:hover{
        filter: grayscale(100%);
        scale: 0.9;
        transition: 0.4s;
    }

    .sec{
        width: 75%;
        margin: auto;
    }

    .lanzamientos{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(1, 350px);
        margin-top: 10px;
        padding: 10px;
    }

    .games{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 400px);
        margin: 20px;
}

    .foo{
        height: 150px;
        font-size: 30px;
    }
}