*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.menu ul li :hover{
    background-color: #0db2ee
}

.generos{
    display: grid;
    background-color: black;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 60px);
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
}

.item{
    border: 2px solid #0db2ee;
    background-size: cover;
    background-position: center;
}

.item1{
    background-image: url(img/pexels-coco-championship-598686.jpg);
}

.item2{
    background-image: url(img/pexels-johannes-plenio-1423600.jpg);
}

.item3{
    background-image: url(img/pexels-marek-piwnicki-16300875.jpg);
}

.item4{
    background-image: url(img/pexels-mark-stebnicki-2889440.jpg);
}

.item5{
    background-image: url(img/pexels-mike-bird-349455.jpg);
}

.item6{
    background-image: url(img//pexels-pixabay-39619.jpg);
}

.item7{
    background-image: url(img/pexels-specna-arms-886454.jpg);
}

.item8{
    background-image: url(img/plataformas.jpeg);
}

.titulo{
    height: 70px;
    background-color: #0db2ee;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulo h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 0 0 5px black;
}

.sec{
    display: flex;
    width: 100%;
}

.news{
    background-color: #0db2ee;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 180px);
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 2px black;

}
.new1{ 
    background-image: url(img/mk1.jpeg);
    background-size: cover;
    background-position: center;
    margin: 5px;
}
.new2{
    background-image: url(img/diablo\ 4.avif);
    background-size: cover;
    background-position: center;
    margin: 5px;

}
.new3{
    background-image: url(img/re4.jpg);
    background-size: cover;
    background-position: right;
    margin: 5px;
}
section{
    display: flex;
}

section div button{
    opacity: 50%;
    align-items: end;
}

@media only screen and (min-width:480px){
    .generos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 80px);
    }
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .generos{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 80px);
    }
    .item7{
        grid-column: 1/2 ;
        grid-row: 1/4;
    }
    .item8{
        grid-column: 4/5;
        grid-row: 1/4;
    }
}

@media only screen and (min-width:1024px){
    .generos{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 80px);
    }
    .item{
        filter: none;
        transition: 0.4s;
    }
    .item:hover{
        filter: grayscale(100%);
        scale: 0.9;
        transition: 0.4s;
    }

    .sec{
        width: 75%;
        margin: auto;
    }
}